*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 10px
  font-family: 'Montserrat', sans-serif; // 'Montserrat', 'Roboto';
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  filter: blur(0px);
  z-index: -1;
}

.page__loading-percentage {
  font-size: 5rem;
  font-weight: 700;
  color: #fff;
  opacity: 1;
  z-index: 10;
}
